{% extends 'base.html' %}

{% block title %}
О сайте
{% endblock %}


{% block body %}
<div class="container alert text-white">
    <h1 class="container">Добро пожаловать на наш сайт!</h1>
    <p class="container" style="font-size: 20px; margin-top: 20px">Сайт представляет собой удобную платформу для
        обсуждения игр, где пользователи могут делиться своими мнениями и рекомендациями, оставлять комментарии и
        находить новые интересные игры. Благодаря простому и интуитивно понятному интерфейсу, каждый пользователь может
        легко найти интересующие его игры, ознакомиться с комментариями других пользователей и поделиться своим
        мнением.</p>
</div>
{% endblock %}