{% extends 'base.html' %}

{% block title %}
Биографи
{% endblock %}

{% block body %}
<div class="container">
    <h1 style="margin-top: 25px;" class="long-title alert-dark alert text-black">Добро пожаловать на GamesCome!</h1>
    <h2></h2>
    <h5 class="long-title text-white">GamesCome - это платформа, созданная для всех любителей видеоигр. Мы стремимся создать уютное онлайн-пространство, где геймеры могут делиться своими впечатлениями, обсуждать свои любимые игры и находить новые захватывающие проекты.</h5>
    <h2></h2>
    <h5 class="long-title text-white">Что мы предлагаем?</h5>
    <h2></h2>
    <h5 class="long-title text-white">Комментарии и рекомендации: На GamesCome каждый пользователь может оставить свой след. Оставьте комментарий к любимой игре, расскажите о своем игровом опыте и дайте рекомендацию другим геймерам.</h5>
    <h2></h2>
    <h5 class="long-title text-white">Поиск новых игр: Ищете новые игры для игры? Наш сайт поможет вам найти интересные проекты из мира видеоигр. Просто введите название или просто просмотрите последние обновления.</h5>
    <h2></h2>
    <h5 class="long-title text-white">Присоединяйтесь к нам сегодня, чтобы начать общение с единомышленниками, находить новые игры и делиться своими игровыми приключениями. Вместе мы создаем уникальное сообщество для всех геймеров!</h5>
</div>
{% endblock %}
